  .focus {
    font-weight: bold;
  }
  
  .hidden {
      display: none;
  }
  
  .reportTable {
    font-family: Roboto,sans-serif;
    color: #1E2020;
    table-layout: fixed;
    margin: 0 !important;
    padding: 0;
    width: 100% !important;
    border-collapse: collapse;
  }
  
  th.headerCell {
    background-color: #E8E8E8;
    font-family: Roboto, sans-serif;
    Font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #1E2020;
    padding: 8px;
  }
  
  .headerCell.dimension {
  }
  
  .headerCell.pivot {
  }
  
  .headerCell.measure {
  }
  
  .headerCell.measure.calculation {
  }
  
  .headerCell.transposed.dimension {
  }
  
  .headerCell.transposed.dimension.merged {
  }
  
  /* .headerCell.dimension.headerRow {
    border-right: 1px solid #C8CED3;
  }
  .headerCell.pivot.headerRow {
    border-right: 1px solid #C8CED3;
  }
  .headerCell.measure.headerRow {
    border-left: 1px solid #C8CED3;
  } */
  
  .rowCell {
    vertical-align: center;
    padding: 8px;
    border-bottom: 1px solid #C8CED3;
  }

  tr:hover {
    background-color: #E8E8E8;
  }

  tr:last-child td{
    border-bottom:0;
  }
  
  .rowCell.merged {
    background-color: #ffffff !important;
  }
  
  .indexCell.transposed {
    font-weight: 400;
  }
  
  .indexCell.transposed.pivot {
    background-color: #ffffff !important;
  }
  
  .indexCell.transposed.dimension {
    background-color: #ffffff !important;
  }
  
  .indexCell.transposed.measure {
    background-color: #ffffff !important;
  }
  
  .indexCell.transposed.calculation {
    background-color: #ffffff !important;
  }
  
  .indexCell.transposed.pivot.merged {
    background-color: #ffffff !important;
  }
  
  .indexCell.transposed.dimension.merged {
    background-color: #ffffff !important;
  }
  
  .indexCell.transposed.measure.merged {
    background-color: #ffffff !important;
  }
  
  .indexCell.transposed.calculation.merged {
    background-color: #ffffff !important;
  }
  
  .nonNumeric {
    text-align: left;
  }
  
  .numeric {
    text-align: right;
  }
  
  .negative {
    color: #b30000;
  }
  
  .estimate {
    color: darkgray !important;
  }
  
  .singleIndex {
    padding-left: 15px !important;
  }
  
  .subtotal {
    background-color: #ffffff !important;
  }
  
  .total {
    border-top: 1px solid #C8CED3 !important;
  }
  
  .total.transposed {
    border-top: 0px !important;
    background-color: #ffffff !important;
  }
  
  .rectElem.animated {
    font-family: Roboto,sans-serif;
    margin: 4px;
  }

  
  #tooltip {
      position: absolute;
      width: auto;
      height: auto;
      padding: 5px;
      background-color: white;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      pointer-events: none;
      font-family: Roboto, sans-serif;
      font-size: 12px;
      z-index: 2;
  }
  
  .tooltipTable {
    font-family: Roboto,sans-serif;
    border: 0px;
    border-collapse: collapse;
    table-layout: auto;
  }
